/*Default Reset CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.clearFix,  #navigation .phoneIcon.clearFix, .bannerListItems li.clearFix, .bannerListItems.clearFix{
	clear: both;
	float:none;
	width: 0;
	height: 0;
	border: 0;
	padding: 0;
	margin:0;
}

.wrapper {
	width:940px;
	margin:auto;
	position: relative;
}

.logo {
	background-image:url("../images/logo.png");
	height: 35px;
	width: 160px;
	float: left;
	margin: 4px 30px 6px 9px;

}

#navigation{
	font-size: 14px;
	font-family: Arial,Helvetica,sans-serif;
}

.navigationList {
	float: left;
}

.navigationList li{
	float: left;
	margin-left: 20px;
	padding-left: 20px;
	border-left: 1px solid #000000;
	list-style-type: none;
	line-height: 45px;
}
.navigationList a{
	text-decoration: none;
	color: #000;
}

.navigationList li:hover{
	color: #f58e23;
}

#navigation .navigationList li.active{
	color:#888;
}

.phoneIcon span {
	margin: 16px 20px 16px 0px;
	background: no-repeat url("../images/call_icon.png");
	height: 15px;
	width: 15px;
	float: right;
	display: block;
}

.login {
	margin: 11px 0px 4px 0px;
	height: 29px;
	width: 64px;
	border-radius: 5px;
	float: right;
	background-color: #88bb33;
}

#banner {
	box-shadow:0px 2px 2px 2px #f1f1f1 inset;
}
.bannerContent {
	background: url("../images/banner_image.png") center top;
	height: 320px;
	position: relative;
}

#banner h1{
	font-size: 36px;
	font-weight: normal;
	width: 510px;
	position: absolute;
	top:40px;
	left: 70px;
}
#banner .wrapper {
	/* border-bottom: 1px solid #000000; */
	/* box-shadow:2px 2px 2px 2px #000000; */
}

/*#bannerList {
	position: relative;
}*/
.bannerListItems{
	float: left;
	position: absolute;
	top:270px;
	left: 110px;
}
.bannerListItems li{
	float: left;
	width: 124px;
	margin-left: 66px;
	list-style-type: none;

}

.bannerListItems span {
	display: block;
	margin-top: 29px;
}

.bannerListItems a{
	text-decoration: none;
	color: #888;
}

.buttons li {
	float: left;
	/* height: 50px; */
	background-color:#ee7700;
	border-radius: 5px;
	/* padding: 0px 20px 0px 20px; */
	/* width: 160px; */
	list-style-type: none;
	/* line-height: 50px; */
	padding:15px 29px 16px 28px;
	font-size:16px;
}
.home {
	background:no-repeat url("../images/home_icon.png");
	height:20px;
	width:20px;
	margin-right:13px;
}

.vehicle {
	background:no-repeat url("../images/vehicle_icon.png");
	height:20px;
	width:20px;
	margin-right:13px;
}
.buttons {
	position: relative;
	top:186px;
	left:230px;
}

.buttons a{
	text-decoration:none;
	color:#ffffff;
}
#bannerButtons .buttons li.circle{
	height:30px;
	width:15px;
	border-radius:30px;
	background-color:#bbbbbb;
	margin:0px 25px 0px 25px;
}

.contentData {
	float:left;
}

.contentData li{
	float:left;
}

a.leftSlider{
	display:block;
	background:no-repeat url("../images/leftSlider.png");
	height:50px;
	width:26px;
}

a.rightSlider {
	display:block;
	background:no-repeat url("../images/rightSlider.png");
	height:50px;
	width:26px;
}
.circle {
	height:10px;
	width:10px;
	border-radius:10px;
	background-color:#bbbbbb;
	display:block;
}

.contentList {
	float:left;
}
.contentList li {
	width:208px;
	float:left;
}

.contentList li span {
	font-size:12px;
}